<!DOCTYPE html>
<html>
<head>
  <title>LibraryManager</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
  <div id="header">
<%= render "shared/header" %>
  </div>

  <div id="sidebar">
<%= render "shared/sidebar" %>
  </div>


  <div id="content">
<% if flash.notice %>
<p class="notice"><%= flash.notice %></p>
<% end %>
<%= yield %>
  </div>



</div>
</body>
</html>
