<% options = [] %>
<% @libraries.each do |lib| %>
  <% options << ["#{lib.name}", lib.id] %>
<% end %>
<table>
<tr><th><%= form.label :user_id, "ユーザID" %></th>
    <td><%= form.text_field :user_id %></td>
</tr>
<tr>
    <th><%= form.label :lib_id, "所属館" %></th>
    <td><%= form.select :library_id, options %></td>
</tr>
<tr><th><%= form.label :name, "氏名" %></th>
    <td><%= form.text_field :name %></td>
</tr>
<tr><th><%= form.label :email, "メールアドレス" %></th>
    <td><%= form.text_field :email %></td>
</tr>

<tr><th><%= form.label :password, "パスワード" %></th>
    <td><%= form.password_field :password %></td>
</tr>

<tr><th><%= form.label :password, "パスワード(確認用)" %></th>
    <td><%= form.password_field :password %></td>
</tr>


</table>

