<h1>会員詳細</h1>
<p class="border"></p>

<table>
<tr><th>ユーザID</th><td><%= @member.user_id %></td></tr>
<tr><th>氏名</th><td><%= @member.name %></td></tr>
<tr><th>メールアドレス</th><td><%= @member.email %></td></tr>
<tr><th>所属図書館</th><td><%= @member.library.name %></td></tr>
</table>
<p><%= link_to '編集', [:edit, @member] %> 
   <%= link_to '削除', @member, method: :delete, confirm: "本当に削除しますか?" %>
</p>
